*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3 - 1rem);
    text-align: center;
    margin-bottom: 1rem;
    transition: scale 1s;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header{
    margin: 0 auto;
    width: 1110px;
    margin-bottom: 1rem;
}

header h1, header h2{
    
    text-align: center;
    
}

.card h3, .card h4{
    color: rgb(143, 143, 143);
    background-color: white;
}

.card:hover{
    scale: 1.2;
    z-index: 1;
}