*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 1110px;
    margin: 0 auto;
    background-color: gray;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
}